[package]
name = "lib"
version = "0.1.0"
authors.workspace = true
edition.workspace = true

[features]
application = ["dep:application", "dep:async-trait", "dep:tap"]

bootstrap = [
  "dep:bootstrap",
  "dep:async-trait",
  "dep:env-vars-config",
  "dep:mobc-sqlx",
  "dep:tower",
  "dep:tower-http",
]
bootstrap-openapi = ["bootstrap", "bootstrap/openapi"]

bootstrap-instrumentation = ["bootstrap", "bootstrap/instrumentation"]

bootstrap-instrumentation-opentelemetry = [
  "bootstrap-instrumentation",
  "bootstrap/instrumentation-opentelemetry",
  "dep:axum-otel-metrics",
  "dep:axum-tracing-opentelemetry",
]

bootstrap-instrumentation-opentelemetry-http-proto = [
  "bootstrap-instrumentation-opentelemetry",
  "bootstrap/instrumentation-opentelemetry-http-proto",
]

bootstrap-instrumentation-opentelemetry-http-json = [
  "bootstrap-instrumentation-opentelemetry",
  "bootstrap/instrumentation-opentelemetry-http-json",
]

bootstrap-instrumentation-opentelemetry-grpc-tonic = [
  "bootstrap-instrumentation-opentelemetry",
  "bootstrap/instrumentation-opentelemetry-grpc-tonic",
]

bootstrap-instrumentation-stdout = [
  "bootstrap-instrumentation",
  "bootstrap/instrumentation-stdout",
]

domain = ["dep:domain", "dep:uuid"]

infrastructure = ["dep:infrastructure"]

infrastructure-persistence = [
  "infrastructure/persistence",
  "dep:async-trait",
  "dep:model-mapper",
  "dep:tap",
  "dep:uuid",
]
infrastructure-persistence-postgres = [
  "infrastructure-persistence",
  "infrastructure/persistence-postgres",
]

infrastructure-services = [
  "dep:async-trait",
  "dep:chrono",
  "dep:model-mapper",
  "dep:tap",
  "dep:uuid",
]

macros = ["dep:macros"]
macros-proc = ["macros", "macros/proc"]

presentation = ["dep:presentation", "dep:tap"]

presentation-api = [
  "presentation",
  "presentation/api",
  "dep:model-mapper",
  "dep:uuid",
  "uuid/serde",
]
presentation-api-rest = [
  "presentation-api",
  "presentation/api-rest",
  "dep:axum",
  "dep:utoipa-axum",
]

presentation-bot = ["presentation/bot"]
presentation-bot-telegram = ["presentation-bot", "presentation/bot-telegram"]

[dependencies]
application = { path = "./application", package = "lib-application", optional = true }
bootstrap = { path = "./bootstrap", package = "lib-bootstrap", optional = true }
infrastructure = { path = "./infrastructure", package = "lib-infrastructure", optional = true }
domain = { path = "./domain", package = "lib-domain", optional = true }
macros = { path = "./macros", package = "lib-macros", optional = true }
presentation = { path = "./presentation", package = "lib-presentation", optional = true }

axum = { workspace = true, optional = true }
mobc-sqlx = { workspace = true, optional = true }
tap = { workspace = true, optional = true }
thiserror = { workspace = true, optional = true }
tower = { workspace = true, optional = true }
uuid = { workspace = true, optional = true, features = ["v7"] }

async-trait = { version = "0.1.89", optional = true }
axum-otel-metrics = { version = "0.12.0", optional = true }
axum-tracing-opentelemetry = { version = "0.30.1", optional = true, features = [
  "tracing_level_info",
] }
chrono = { version = "0.4.42", optional = true }
env-vars-config = { version = "1.0.1", optional = true }
model-mapper = { version = "0.6.1", optional = true }
tower-http = { version = "0.6.6", optional = true, features = ["cors"] }
utoipa-axum = { version = "0.2.0", optional = true }

[lints]
workspace = true
