apps/**/Containerfile
**.md

.cargo/audit.toml
.direnv
.idea
.forgejo
.gitea
.github

target

.containerignore
.env*
.gitignore
.gitlab-ci*
.rustfmt.toml

*.compose.yml
clippy.toml
flake.*
justfile
rust-analyzer.toml
shell.nix
