[package]
name = "lib-infrastructure-persistence-postgres"
version = "0.1.0"
authors.workspace = true
edition.workspace = true

[dependencies]
mobc-sqlx = { workspace = true, features = ["postgres"] }
thiserror.workspace = true

[dev-dependencies]
rstest.workspace = true

[lints]
workspace = true
