SERVER_HOST=::
SERVER_PORT=8080
SERVER_DOMAIN=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=template_example
JWT_SECRET=changeme
OTEL_ENDPOINT=http://localhost:4317
OTEL_SERVICE_NAMESPACE=template_example
OTEL_SERVICE_NAME=monolyth
