target: all

multitenancy_enabled: false

common:
  storage:
    backend: s3
    s3:
      endpoint: s3:9000
      access_key_id: minioadmin
      secret_access_key: minioadmin
      insecure: true
      bucket_name: mimir

blocks_storage:
  storage_prefix: blocks

server:
  http_listen_port: 9009
  log_level: warn

ingester:
  ring:
    replication_factor: 1
