receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
processors:
  batch:
  transform:
    metric_statements:
      - context: datapoint
        statements:
          - set(attributes["service_namespace"], resource.attributes["service.namespace"])
          - set(attributes["service_name"], resource.attributes["service.name"])
exporters:
  otlphttp/victoriametrics:
    metrics_endpoint: http://victoria-metrics:8428/opentelemetry/v1/metrics
    logs_endpoint: http://victoria-logs:9428/insert/opentelemetry/v1/logs
    traces_endpoint: http://victoria-traces:10428/insert/opentelemetry/v1/traces
    compression: gzip
    encoding: proto
    tls:
      insecure: true
service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [transform, batch]
      exporters: [otlphttp/victoriametrics]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/victoriametrics]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/victoriametrics]
  telemetry:
    metrics:
      level: detailed
      readers:
        - pull:
            exporter:
              prometheus:
                host: "0.0.0.0"
                port: 8888
