receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
processors:
  batch:
  transform:
    metric_statements:
      - context: datapoint
        statements:
          - set(attributes["service_namespace"], resource.attributes["service.namespace"])
          - set(attributes["service_name"], resource.attributes["service.name"])
exporters:
  otlphttp/loki:
    endpoint: http://loki:3100/otlp
    tls:
      insecure: true
  otlphttp/tempo:
    endpoint: http://tempo:4319
    tls:
      insecure: true
  otlphttp/mimir:
    endpoint: http://mimir:9009/otlp
    tls:
      insecure: true
service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/tempo]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/loki]
    metrics:
      receivers: [otlp]
      processors: [transform, batch]
      exporters: [otlphttp/mimir]
  telemetry:
    metrics:
      level: detailed
      readers:
        - pull:
            exporter:
              prometheus:
                host: "0.0.0.0"
                port: 8888
