[package]
name = "lib-infrastructure-persistence"
version = "0.1.0"
authors.workspace = true
edition.workspace = true

[features]
mobc-sqlx = ["dep:mobc-sqlx"]
postgres = ["mobc-sqlx", "dep:postgres"]
redis = ["dep:redis"]

[dependencies]
domain = { path = "../../domain", package = "lib-domain" }
postgres = { path = "./postgres", package = "lib-infrastructure-persistence-postgres", optional = true }
redis = { path = "./redis", package = "lib-infrastructure-persistence-redis", optional = true }

derive-where.workspace = true
mobc-sqlx = { workspace = true, optional = true }
pastey.workspace = true

[dev-dependencies]
mobc-sqlx.workspace = true
rstest.workspace = true
tokio = { workspace = true, features = ["macros"] }

sqlx = { version = "0.8", default-features = false, features = [
  "postgres",
  "runtime-tokio",
] }


[lints]
workspace = true
