[package]
name = "lib-infrastructure-persistence"
version = "0.1.0"
authors.workspace = true
edition.workspace = true

[features]
mobc-sqlx = ["dep:mobc-sqlx"]
postgres = ["mobc-sqlx", "dep:postgres"]

[dependencies]
domain = { path = "../../domain", package = "lib-domain" }
postgres = { path = "./postgres", package = "lib-infrastructure-persistence-postgres", optional = true }

derive-where.workspace = true
mobc-sqlx = { workspace = true, optional = true }

pastey = "0.2.0"

[dev-dependencies]
mobc-sqlx.workspace = true
rstest.workspace = true
sqlx = { version = "0.8", default-features = false, features = ["postgres", "runtime-tokio"] }
tokio = { workspace = true, features = ["macros"] }


[lints]
workspace = true
